// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

$breadcrumb-divider: quote(">");
$caret-width: 0;


:root{
    --bs-body-font-family: 'Poppins', sans-serif;
}


.gallary{
    columns: 3 250px;
}

.profile-image{
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
