// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap Icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

$blue: #3d5af1;

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.gallary{
    columns: 3 250px;
}

.profile-image{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
